@import "~src/variables";

:host {
  display: block;
  border-bottom: 1px solid rgba($primary-color, 0.5);

  #navbar {
    max-width: 1280px;
    height: 80px;
    margin: 0 auto;
    padding: 10px 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    #brand {
      grid-column: 1;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      a {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 40px;
          //filter: invert(74%) sepia(75%) saturate(2123%) hue-rotate(344deg) brightness(103%) contrast(84%);
          filter: invert(42%) sepia(12%) saturate(2554%) hue-rotate(231deg) brightness(98%) contrast(86%);
        }
      }

      span {
        margin-left: 10px;
        color: $primary-color;
        font-weight: 500;
        font-size: 1.1rem;
      }
    }

    #account {
      grid-column: 3;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        color: $primary-color;
      }
    }
  }

  @media (max-width: 768px) {
    #navbar {
      max-width: 100vw;
      padding: 10px 40px;
    }
  }
}
