#pet-cards {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

@media (max-width: 768px) {
  #pet-cards {
    max-width: 100vw;
    padding: 0 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 425px) {
  #pet-cards {
    grid-template-columns: 1fr;
  }
}
