.container {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-row-gap: 20px;

  header {
    grid-area: header;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: #fff;
  }

  main {
    grid-area: main;
  }
}
