@import "variables";

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

:root {
  font-size: 1.2rem;

  body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    margin-bottom: 15vh;

    ul, li {
      list-style: none;
    }

    a {
      text-decoration: none;
    }
  }
}
